.menu-box
  %a.heading{:href => "/"}
    cheatsheet
  %nav
    %ul.menu.cl-effect-5
      %li.menu-item
        %a{:href => "/"}
          %span{"data-hover" => "Home"}Home
      %li.menu-item
        %a{:href => "/sheet.html"}
          %span{"data-hover" => "Sheet"}Sheet